:root {
  --stroke: lightslategray;
  --level-bar: #01b39f;
  --block-fill: #7de6b1;
  --bar-fill: #00e0c7; /*#00ffe2;*/
  --cl-line-stroke: black;
  --proto: #d5c0fb; /*#af6ed4;*/
  --proto-selected: #af6ed4;

  --bar-fill-selected: #0667c7;
  --bar-fill-second-selected: red;
  --block-fill-selected: limegreen;
  --block-fill-second-selected: orange;
}

body {
  margin: 0;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

svg {
  /* border: 2px dashed black; */
  /* background: #f7f7f7; */
}

.level {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#container {
  width: 700px;
}

#sorting {
  color: dimgray;
  font-size: 0.9rem;
}

.sorting_cluster,
.sorting_cats {
  display: flex;
}

.dropdown_sorting_clusters,
.dropdown_sorting_cats {
  height: 25px;
  padding-top: 0;
  margin-left: 5px;
  margin-bottom: 3px;
  color: gray;
  font-size: 0.9rem;
  border: none;
}

.dropdown_sorting_cats {
  background-color: var(--block-fill);
}

.dropdown_sorting_clusters {
  background-color: var(--bar-fill);
}

.vis_title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 5px;
}

/* Level */
.level_rect {
  fill: none; /*#dcdcdc;*/
  /* stroke: black;
  stroke-width: 1px; */
}
.level_fold_button {
  fill: var(--level-bar);
}

.level_bar {
  stroke: var(--level-bar);
  stroke-width: 10;
}

.level_label {
  font-weight: bold;
  font-style: italic;
}

.level_folded {
  opacity: 0;
}

/* Block */
.block_rect {
  fill: #2ee087;
  /* stroke: var(--block-fill); */
}

.block_label {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.block_icon_group_rect {
  fill: whitesmoke;
}

.block_icon {
  fill: #00e070;
}

.feature_selected {
  stroke: black;
  stroke-width: 2px;
}

/* Within-level bar/cat */
.cat_rect {
  fill: var(--block-fill);
  /* stroke: var(--block-fill); */
  fill-opacity: 0.7;
  /* filter: url(#drop-shadow); */
}

.cat_rect_mouseovered {
  fill: #00e271;
}

.cat_label {
  fill: #505050;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
}

.bar_rect {
  fill: var(--bar-fill);
  /* stroke: var(--bar-fill); */
  fill-opacity: 0.5;
}

.bar_rect_mouseovered {
  fill: #00ceb6;
}

.cl_label {
  fill: gray;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
}

.cl_line {
  stroke: var(--cl-line-stroke);
  /* filter: url(#drop-shadow); */
}

.cl_line_filtered {
  opacity: 0 !important;
}

.cat_line {
  fill: none;
  stroke: gray;
  stroke-width: 5;
  opacity: 0.5;
}

.proto_circle {
  fill: var(--proto);
  filter: url(#drop-shadow);
  opacity: 0;
}

.proto_path {
  stroke: var(--proto);
  stroke-width: 2;
  stroke-dasharray: 4, 1;
  fill: none;
  /* filter: url(#drop-shadow); */
  opacity: 0.2;
}

.proto_path_selected,
.proto_path_mouseovered {
  stroke-width: 4px;
  opacity: 1;
  stroke: #af6ed4;
}

.proto_path_for_bar_selected {
  stroke-width: 4px;
  opacity: 1;
  stroke: var(--bar-fill-selected);
}

.proto_circle_selected {
  fill: #af6ed4;
  fill-opacity: 1;
}

.proto_circle_mouseovered {
  opacity: 1;
  fill: #af6ed4;
}

.proto_circle_for_bar_selected {
  fill: var(--bar-fill-selected);
  fill-opacity: 1 !important;
}

.proto_circle_hidden {
  fill-opacity: 0;
}

/* For event */
.bar_rect_selected {
  fill: var(--bar-fill-selected);
  stroke: black;
  stroke-width: 2px;
  fill-opacity: 0.9;
}

.bar_rect_selected2 {
  fill: var(--bar-fill-second-selected);
  stroke: black;
  stroke-width: 2px;
  fill-opacity: 0.9;
}

/*** Controller ***/
#controller {
  position: relative;
  width: 200px;
  margin-left: 60px;
  margin-right: 20px;
  padding-bottom: 10px;
  min-height: 500px;
  background: #eee;
}

#controller h3 {
  /* position: absolute; */
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 30px;
  width: 400px;
  background: #4af;
  border-radius: 2px;
  pointer-events: none;
  margin-left: 0px;
  width: 100%;
  background: white;
}

.interface {
  height: 30px;
  background: white;
}

.section_title {
  margin: 0 5px;
  padding: 5px 0;
  font-weight: bold;
  border-bottom: 2px solid lightgray;
}

.add_button {
  width: 25px;
  height: 25px;
  background: white;
  font-weight: bolder;
  margin: 0 2px 0 auto;
  /* padding: 3px; */
  text-align: center;
  box-shadow: 0 0 0px 1px black;
}

.coloring_button {
  width: 10px;
  height: 10px;
  background-color: white;
}

.ui-icon {
  width: 8px;
  height: 10px;
}

.route {
  position: relative;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
  top: 5px;
  margin-top: 0px;
  max-height: 100% !important;
  width: 100%;
  background: #bcf;
  border-radius: 2px;
  z-index: -1;
}

.route span {
  position: absolute;
  /* top: 5px; */
  left: 10px;
  -ms-transform: scale(2);
  /* IE 9 */

  -webkit-transform: scale(2);
  /* Chrome, Safari, Opera */

  transform: scale(2);
  z-index: 10px;
}

.route .title {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 25px;
  width: 400px;
  text-indent: 35px;
  color: black;
  font-size: 0.8rem;
  font-style: italic;
  background: lightgray;
  border-radius: 2px;
  pointer-events: none;
}

.lv {
  /* font-weight: 600; */
  margin-bottom: 10px;
}

.first-title {
  margin-left: 10px;
}

.space {
  position: relative;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  width: 20px;
  top: 25px;
  padding-bottom: 20px;
  /* height: 100%; */
  z-index: 1;
}

.level_list {
  top: 10px;
}

.first-space {
  margin-left: 10px;
}
