:root {
  --stroke: lightslategray;
  --block-fill: springgreen;
  --bar-fill: #00ffe2;
  --cl-line-stroke: black;
  --proto: #af6ed4;

  --bar-fill-selected: blue;
}

body {
  margin: 0;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

svg {
  /* border: 2px dashed black; */
  /* background: #f7f7f7; */
}

.level {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#container {
  width: 700px;
}

.vis_title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 5px;
}

/* Level */
.level_rect {
  fill: #dcdcdc;
  /* stroke: black;
  stroke-width: 1px; */
}
.level_bar {
  stroke: var(--bar-fill);
  stroke-width: 10;
}

.level_label {
  font-weight: bold;
  font-style: italic;
}

/* Block */
.block_rect {
  fill: var(--block-fill);
  stroke: var(--block-fill);
}

.block_label {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

/* Within-level bar/cat */
.cat_rect {
  fill: var(--block-fill);
  /* stroke: var(--block-fill); */
  fill-opacity: 0.7;
  /* filter: url(#drop-shadow); */
}

.cat_rect_mouseovered {
  fill: #00e271;
}

.cat_label {
  fill: gray;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
}

.bar_rect {
  fill: var(--bar-fill);
  /* stroke: var(--bar-fill); */
  fill-opacity: 0.5;
}

.bar_rect_mouseovered {
  fill: #00ceb6;
}

.cl_label {
  fill: gray;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
}

.cl_line {
  stroke: var(--cl-line-stroke);
}

.cat_line {
  fill: none;
  stroke: gray;
  stroke-width: 5;
  opacity: 0.5;
}

.proto_circle {
  fill: var(--proto);
  filter: url(#drop-shadow);
}

.proto_path {
  stroke: var(--proto);
  stroke-width: 2;
  stroke-dasharray: 4, 1;
  fill: none;
  filter: url(#drop-shadow);
  opacity: 0.2;
}

.proto_selected,
.proto_mouseovered {
  stroke-width: 4px;
  opacity: 1;
}

/* For event */
.bar_rect_selected {
  fill: var(--bar-fill-selected);
}

/*** Controller ***/
#controller {
  position: relative;
  width: 200px;
  margin-left: 60px;
  margin-right: 20px;
  padding-bottom: 10px;
  min-height: 500px;
  background: #eee;
}

#controller h3 {
  /* position: absolute; */
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 30px;
  width: 400px;
  background: #4af;
  border-radius: 2px;
  pointer-events: none;
  margin-left: 0px;
  width: 100%;
  background: white;
}

.interface {
  height: 30px;
  background: white;
}

.section_title {
  margin: 0 5px;
  padding: 5px 0;
  font-weight: bold;
  border-bottom: 2px solid lightgray;
}

.add_button {
  width: 18px;
  height: 18px;
  background: white;
  font-weight: bolder;
  margin: 0 2px 0 auto;
  padding: 3px;
  text-align: center;
  box-shadow: 0 0 0px 1px black;
}

.route {
  position: relative;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0px;
  margin-top: 0px;
  max-height: 100% !important;
  width: 100%;
  background: #bcf;
  border-radius: 2px;
  z-index: -1;
}

.route span {
  position: absolute;
  top: 10px;
  left: 10px;
  -ms-transform: scale(2);
  /* IE 9 */

  -webkit-transform: scale(2);
  /* Chrome, Safari, Opera */

  transform: scale(2);
  z-index: 10px;
}

.route .title {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  height: 20px;
  width: 400px;
  text-indent: 50px;
  background: #4af;
  border-radius: 2px;
  pointer-events: none;
}

.first-title {
  margin-left: 10px;
}

.space {
  position: relative;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  width: 40px;
  top: 50px;
  padding-bottom: 50px;
  /* height: 100%; */
  z-index: 1;
}

.first-space {
  margin-left: 10px;
}
