:root {
  --stroke: lightslategray;
  --level-bar: #c7c7d2; /*#01b39f;*/
  --block-fill: #bdc7c2;
  --bar-fill: #c7c7d2; /*#00e0c7;*/ /*#00ffe2;*/
  --cl-line-stroke: black;
  --proto: #0462bf; /*#af6ed4;*/
  --proto-selected: #0462bf;
  --proto-second-selected: #d60101;

  --bar-fill-selected: #0462bf;
  --bar-fill-second-selected: #d60101;
  --bar-fill-mouseovered: #00ceb6;
  --block-fill-selected: limegreen;
  --block-fill-second-selected: orange;

  --treemap-fill-cl-0: #93c47dff;
  --treemap-fill-cl-1: #c27ba0ff;
  --treemap-fill-cl-2: #f1c232ff;
  --treemap-fill-cl-3: #fb8072;
  --treemap-fill-cl-4: #80b1d3;

  --bipartite-instance: #d6c6cb;
}

body {
  margin: 0;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

svg {
  /* border: 2px dashed black; */
  /* background: #f7f7f7; */
}

.level {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#container {
  width: 700px;
}

#sorting {
  color: dimgray;
  font-size: 0.9rem;
}

.sorting_cluster,
.sorting_cats {
  display: flex;
}

.run_button {
  background-color: gray !important;
  border-color: unset !important;
}

.dropdown_sorting_clusters,
.dropdown_sorting_cats {
  height: 25px;
  padding-top: 0;
  margin-left: 5px;
  margin-bottom: 3px;
  color: gray;
  font-size: 0.9rem;
  border: none;
}

.dropdown_sorting_cats {
  background-color: var(--block-fill);
}

.dropdown_sorting_clusters {
  background-color: var(--bar-fill);
}

.vis_title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 5px;
}

/* Level */
.level_rect {
  fill: #f6f6f6; /*#dcdcdc;*/
  /* stroke: black;
  stroke-width: 1px; */
}
.level_fold_button {
  fill: var(--level-bar);
}

.level_bar {
  stroke: var(--level-bar);
  stroke-width: 10;
}

.level_label {
  font-weight: bold;
  font-style: italic;
}

.level_folded {
  opacity: 0;
}

/* Block */
.block_rect {
  fill: var(--block-fill);
  /* fill-opacity: 0.7; */
  /* stroke: var(--block-fill); */
}

.block_label {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.block_icon_group_rect {
  fill: transparent;
}

.block_icon {
  fill: var(--block-fill);
}

.feature_selected {
  stroke: black;
  stroke-width: 2px;
}

/* Within-level bar/cat */
.cat_rect {
  fill: var(--block-fill);
  /* stroke: var(--block-fill); */
  /* fill-opacity: 0.7; */
  /* filter: url(#drop-shadow); */
}

.cat_rect_mouseovered {
  fill: #00e271;
}

.cat_label {
  fill: black;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
}

.bar_rect {
  fill: var(--bar-fill);
  /* stroke: var(--bar-fill); */
  /* fill-opacity: 0.5; */
}

.bar_rect_mouseovered {
  fill: var(--bar-fill-mouseovered);
}

.cl_label {
  stroke: white;
  stroke-width: 0.4;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.cl_line {
  stroke: var(--cl-line-stroke);
  /* filter: url(#drop-shadow); */
}

.cl_line_filtered {
  opacity: 0 !important;
}

.cl_line_dominant_for_all,
.cl_line_dominant {
  opacity: 0.5 !important;
}

.cl_line_mouseovered {
  opacity: 0.5 !important;
  stroke: var(--bar-fill-mouseovered);
}

.cat_line {
  fill: none;
  stroke: gray;
  stroke-width: 5;
  opacity: 0.5;
}

.cat_line_dominant_for_all,
.cat_line_dominant {
  opacity: 0.3 !important;
}

.cat_line_mouseovered {
  opacity: 0.5 !important;
  stroke: green;
}

.proto_circle {
  fill: var(--proto);
  filter: url(#drop-shadow);
  opacity: 0;
}

.proto_path {
  stroke: var(--proto);
  stroke-width: 2;
  stroke-dasharray: 4, 1;
  fill: none;
  /* filter: url(#drop-shadow); */
  opacity: 0;
}

.proto_path_selected,
.proto_path_mouseovered {
  stroke-width: 4px;
  opacity: 1;
  stroke: var(--proto);
}

.proto_path_for_bar_selected {
  stroke-width: 4px;
  opacity: 1;
  stroke: var(--bar-fill-selected);
}

.proto_circle_selected {
  fill: var(--proto);
  fill-opacity: 1;
}

.proto_circle_mouseovered {
  opacity: 1;
  fill: var(--proto);
}

.proto_circle_for_bar_selected {
  fill: var(--bar-fill-selected);
  fill-opacity: 1 !important;
}

.proto_circle_hidden {
  fill-opacity: 0 !important;
}

.proto_dominant {
  stroke-width: 4px;
  opacity: 1 !important;
  fill-opacity: 1 !important;
}

.proto_dominant2 {
  stroke: var(--proto-second-selected);
  stroke-width: 4px;
  opacity: 1 !important;
  fill-opacity: 1 !important;
}

.proto_dominant_circle {
  fill: var(--proto-selected);
  opacity: 1;
  fill-opacity: 1 !important;
}
.proto_dominant_circle2 {
  fill: var(--proto-second-selected);
  opacity: 1;
  fill-opacity: 1 !important;
}

/* For event */
.bar_rect_selected {
  fill: var(--bar-fill-selected);
  stroke: black;
  stroke-width: 4px;
  fill-opacity: 0.9;
}

.bar_rect_selected2 {
  fill: var(--bar-fill-second-selected);
  stroke: black;
  stroke-width: 4px;
  fill-opacity: 0.9;
}

/*** Controller ***/
#controller {
  position: relative;
  width: 250px;
  margin-left: 60px;
  margin-right: 20px;
  padding-bottom: 10px;
  min-height: 500px;
  background: #eee;
}

#controller h3 {
  /* position: absolute; */
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 30px;
  width: 400px;
  background: #4af;
  border-radius: 2px;
  pointer-events: none;
  margin-left: 0px;
  width: 100%;
  background: white;
}

.interface {
  height: 30px;
  background: white;
}

.section_title {
  margin: 0 5px;
  padding: 5px 0;
  font-weight: bold;
  border-bottom: 2px solid lightgray;
}

.aggr_description {
  font-size: 0.7rem;
  text-align: center;
}

.add_button {
  width: 25px;
  height: 25px;
  background: white;
  font-weight: bolder;
  margin: 0 2px 0 auto;
  /* padding: 3px; */
  text-align: center;
  box-shadow: 0 0 0px 1px black;
}

.coloring_button {
  width: 10px;
  height: 10px;
  background-color: white;
}

.ui-icon {
  width: 8px;
  height: 10px;
}

.route {
  position: relative;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
  top: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  max-height: 100% !important;
  width: 100%;
  /* background: #bcf; */
  border-radius: 2px;
  z-index: -1;
}

.route span {
  position: absolute;
  /* top: 5px; */
  left: 10px;
  -ms-transform: scale(2);
  /* IE 9 */

  -webkit-transform: scale(2);
  /* Chrome, Safari, Opera */

  transform: scale(2);
  z-index: 10px;
}

.route .title {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 25px;
  width: 400px;
  text-indent: 35px;
  color: black;
  font-size: 0.8rem;
  font-style: italic;
  background: lightgray;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.lv_info_wrapper,
.feature_info_wrapper {
  display: flex;
}

.feature_type {
  text-indent: 0;
  text-align: center;
  width: 30px;
  font-size: 0.7rem;
  font-style: normal;
  background: #b5b5b5;
  border: 1px solid darkgray;
  margin-left: 5px;
  color: white;
}

.lv_aggr_button_wrapper,
.feature_aggr_button_wrapper {
  display: flex;
  margin-right: 5px;
}

.aggr_button {
  text-indent: 0;
  text-indent: 0;
  margin-left: 5px;
  padding: 0 3px;
  background-color: whitesmoke;
  border: 1px solid darkgray;
  z-index: 99;
}

.aggr_selected {
  background-color: #efefcc;
}

.lv {
  /* font-weight: 600; */
  margin-bottom: 10px;
}

.first-title {
  margin-left: 10px;
}

.space {
  position: relative;
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  width: 20px;
  top: 25px;
  padding-bottom: 20px;
  /* height: 100%; */
  z-index: 1;
}

.level_list {
  top: 10px;
}

.first-space {
  margin-left: 10px;
}

/* cluster treemap */
/* .treemap_rect {
  fill: darkblue;
  opacity: 0.3;
  stroke: white;
} */

.label rect {
  rx: 2;
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}

.label circle {
  opacity: 0 !important;
}

.treemap_label {
  /* fill: black; */
  font-size: 12px;
  opacity: 0 !important;
}

.treemap_label_for_dominant_cl {
  opacity: 1 !important;
}

.treemp_label_mouseovered {
  opacity: 1 !important;
}

.treemap_label_for_selected {
  opacity: 1 !important;
}

.treemap_line_label_to_cat {
  stroke: gray;
  stroke-dasharray: 3, 3;
}

.secondary_instance_circle {
  fill: var(--bipartite-instance);
}

.secondary_instance_circle_mouseovered {
  stroke: black;
}

.secondary_instance_label {
  font-size: 0.8rem;
  /* font-weight: bold; */
  font-style: italic;
  fill: gray;
}

.bipartite_1 > rect {
  fill: var(--bipartite-instance);
}

/* For tooltip */
.tooltip_mouseovered {
  opacity: 1 !important;
}

.d3-tooltip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tooltip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
